
.card-panel {
  position: fixed;
  top: 33px;
  left: 640px;
}

.line {
  display: block;
}

.events {
}

.event {
  margin-left: 15px;
}

.card-image {
  position: absolute;
  left: 267px;
  top: -22px;
  width: 207px;
}
