
.card-panel {
  position: fixed;
  top: 33px;
  left: 640px;
}

.line {
  display: block;
}

.card-image {
  position: absolute;
  left: 400px;
  top: -22px;
  width: 207px;
}

.object, .spell {
  margin-top: 15px;
}

.controls {
  margin-top: 10px;
}
