<!DOCTYPE html>
<html ng-app="cardsApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="styles/main.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div ng-controller="CardsController as cc">

        <div class="cards-panel">

            <div class="card-filters">
                <label ng-repeat="(id, cardType) in cardTypes">
                    <input type="radio" name="card-type" ng-checked="id === filter.cardType" ng-click="selectCardType(id)">
                    {{cardType}}
                </label>

                <img ng-repeat="(id, clas) in classes" class="class-icon {{ filter.cardClass === id ? 'selected' : '' }}" ng-src="images/{{clas}}.png" ng-click="selectCardClass(id)">

            </div>

            <div class="cards">
                <div class="card-preview" ng-repeat="card in cards">
                    <img ng-src="http://media-hearth.cursecdn.com/avatars/{{card.pic}}.png">
                </div>
            </div>
        </div>

    </div>
</body>
</html>
