<!DOCTYPE html>
<html ng-app="cardsApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/cards-controller.css">
    <link rel="stylesheet" href="styles/card-controller.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/cards-controller.es6"></script>
    <script src="js/card-controller.es6"></script>
</head>
<body>
    <div ng-controller="CardsController" class="cards-panel">

        <div class="card-filters">
            <label ng-repeat="(id, cardType) in cardTypes">
                <input type="radio" name="card-type" ng-checked="id === filter.cardType" ng-click="selectCardType(id)">
                {{cardType}}
            </label>

            <label>
                <img ng-repeat="(id, clas) in classes"
                     ng-class="'class-icon' + (filter.cardClass === id ? ' selected' : '')"
                     ng-src="images/{{clas}}.png"
                     ng-click="selectCardClass(id)"
                     style="margin-bottom: -6px">
            </label>

            <input ng-model="filter.search" ng-change="drawCards()" placeholder="search">

        </div>

        <div class="cards">
            <div ng-repeat="cardPack in cards" style="margin-bottom: 70px">
                <div class="card-preview" ng-repeat="card in cardPack" ng-click="showDetails(card)">
                    <img ng-src="{{extractCardPic(card.pic)}}">
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="CardController" class="card-panel">
        <img ng-if="card.pic" class="card-image" ng-src="{{card.url}}">
        <label class="line">ID: {{card.id}}</label>
        <label class="line">Picture: <input ng-model="card.url" ng-change="extractCardPic()"></label>
        <label class="line">Name: <input ng-model="card.name"></label>
        <label class="line">Cost: <input ng-model="card.cost" type="number"><input type="checkbox" ng-model="card.haveCostCalc"></label>
        <label ng-if="card.haveCostCalc" class="line">Cost calc: <input ng-model="card.costCalc"></label>

        <label class="line">Type:
            <select ng-model="card.type" ng-options="type.id as type.name for type in cardTypes" convert-to-number></select>
        </label>

        <label class="line">
            <img ng-repeat="(classId, clas) in classes"
                 ng-class="'class-icon' + (card.clas === classId ? ' selected' : '')"
                 ng-src="/images/{{clas}}.png"
                 ng-click="selectClass(classId)">
        </label>

        <label class="line">Flags:
            <input ng-model="card.flags">
        </label>

        <label class="line">Custom action: <input ng-model="card.customAction"></label>

        <label class="line">Conditions: <input ng-model="card.conditions"></label>
        <label class="line">Targets: <input ng-model="card.targetsType" placeholder="not-need"></label>
        <label class="line">Combo: <input ng-model="card.haveCombo" type="checkbox"></label>
        <label ng-if="card.haveCombo" class="line">
            Combo Targets: <input ng-model="card.combo.targetsType" placeholder="not-need">
        </label>
        <label class="line">Choose action: <input type="checkbox" ng-model="card.haveChooseAction"></label>
        <div ng-if="card.haveChooseAction">
            <button ng-click="addAdditionAction()">+</button>
            <label ng-repeat="action in card.additionActions" class="line">
                <input ng-model="action.cardName" placeholder="Card Name">
            </label>
        </div>

        <div class="part object" ng-show="card.type === 1 || card.type === 3" style="margin-top:44px;">
            Object:

            <label class="line">Attack:
                <input ng-model="card.object.attack" type="number" size="4">
            </label>

            <label class="line" ng-show="card.type === 1">Max Hp:
                <input ng-model="card.object.maxHp" type="number" size="4">
            </label>

            <label class="line" ng-show="card.type === 3">Durability:
                <input ng-model="card.object.durability" type="number" size="4">
            </label>

            <label class="line">Flags:
                <input ng-model="card.object.flags">
            </label>

            <label class="line" ng-show="card.type === 1">Race:
                <select ng-model="card.object.race" ng-options="race.id as race.name for race in races" convert-to-number></select>
            </label>

            <div style="margin-top:5px;">Events:
                <div ng-repeat="(eventTypeName, events) in card.object.events" class="event">
                    {{eventTypeName}}:
                    <button ng-click="addField(eventTypeName)">+</button>
                    <label ng-repeat="(index, event) in events" class="line">
                        <input ng-model="event.event" size="20" ng-show="eventTypeName === 'custom'" placeholder="event">
                        <input ng-model="event.command" size="30" placeholder="acts" ng-change="checkCustomFields(event)">
                        <input ng-model="event.targetsType" size="30" placeholder="{{eventTypeName === 'battlecry' ? 'inherit' : 'targets'}}">
                        <button ng-click="removeField(eventTypeName, index)">x</button>

                        <div ng-if="event.customEvent">
                            <input ng-model="event.customEvent.event" size="20" placeholder="event">
                            <input ng-model="event.customEvent.command" size="30" placeholder="acts">
                            <input ng-model="event.customEvent.targetsType" size="30" placeholder="inherit">
                        </div>

                        <div ng-if="event.aura">
                            <input ng-model="event.aura.command" size="30" placeholder="aura">
                            <input ng-model="event.aura.targetsType" size="30">
                        </div>
                    </label>
                </div>
            </div>

            <div ng-if="card.haveCombo" style="margin-top:5px;">Combo Events:
                <div ng-repeat="(eventTypeName, events) in card.combo.object.events" class="event">
                    {{eventTypeName}}:
                    <button ng-click="addComboField(eventTypeName)">+</button>
                    <label ng-repeat="(index, event) in events" class="line">
                        <input ng-model="event.event" size="20" ng-show="eventTypeName === 'custom'" placeholder="event">
                        <input ng-model="event.command" size="30" placeholder="acts">
                        <input ng-model="event.targetsType" size="30" placeholder="{{eventTypeName === 'battlecry' ? 'inherit' : 'targets'}}">
                        <button ng-click="removeComboField(eventTypeName, index)">x</button>
                    </label>
                </div>
            </div>

        </div>

        <div class="part spell" ng-show="card.type === 2">
            <div>
                Spells: <button ng-click="addSpellAct()">Add</button>
                <label class="line" ng-repeat="(id, act) in card.spell.acts">
                    <input ng-model="act.command" ng-change="checkCustomFields(act)" size="30" placeholder="acts">
                    <input ng-model="act.targetsType" size="30" placeholder="inherit">
                    <button ng-click="removeSpellAct(id)">x</button>

                    <div ng-if="act.customEvent">
                        <input ng-model="act.customEvent.event" size="20" placeholder="event">
                        <input ng-model="act.customEvent.command" size="30" placeholder="acts">
                        <input ng-model="act.customEvent.targetsType" size="30" placeholder="inherit">
                    </div>

                    <div ng-if="act.aura">
                        <input ng-model="act.aura.command" size="30" placeholder="aura">
                        <input ng-model="act.aura.targetsType" size="30">
                    </div>
                </label>
            </div>
            <div ng-if="card.haveCombo">
                Combo Spells: <button ng-click="addComboSpellAct()">Add</button>
                <label class="line" ng-repeat="(id, act) in card.combo.spell.acts">
                    <input ng-model="act.command" ng-change="checkCustomFields(act)" size="30" placeholder="acts">
                    <input ng-model="act.targetsType" size="30" placeholder="inherit">
                    <button ng-click="removeComboSpellAct(id)">x</button>

                    <div ng-if="act.customEvent">
                        <input ng-model="act.customEvent.event" size="20" placeholder="event">
                        <input ng-model="act.customEvent.command" size="30" placeholder="acts">
                        <input ng-model="act.customEvent.targetsType" size="30" placeholder="inherit">
                    </div>

                    <div ng-if="act.aura">
                        <input ng-model="act.aura.command" size="30" placeholder="aura">
                        <input ng-model="act.aura.targetsType" size="30">
                    </div>
                </label>
            </div>
        </div>

        <div class="part trap" ng-show="card.type === 4">
            Trap: <button ng-click="addTrapAct()">Add</button>
            <label class="line" ng-repeat="(id, event) in card.trap.events.custom">
                <input ng-model="event.event" size="20" placeholder="event">
                <input ng-model="event.command" size="30" placeholder="acts">
                <input ng-model="event.targetsType" size="30" placeholder="inherit">
                <button ng-click="removeTrapAct(id)">x</button>
            </label>
        </div>

        <label class="line">Comment: <input ng-model="card.comment" size="80"></label>

        <div class="controls">
            <button ng-click="saveCard()">Save</button>
            <button ng-click="newCard()">New</button>
        </div>

    </div>
</body>
</html>
