<!DOCTYPE html>
<html ng-app="cardsApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/cards-controller.css">
    <link rel="stylesheet" href="styles/card-controller.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/cards-controller.es6"></script>
    <script src="js/card-controller.es6"></script>
</head>
<body>
    <div ng-controller="CardsController" class="cards-panel">

        <div class="card-filters">
            <label ng-repeat="(id, cardType) in cardTypes">
                <input type="radio" name="card-type" ng-checked="id === filter.cardType" ng-click="selectCardType(id)">
                {{cardType}}
            </label>

            <label>
                <img ng-repeat="(id, clas) in classes"
                     ng-class="'class-icon' + (filter.cardClass === id ? ' selected' : '')"
                     ng-src="images/{{clas}}.png"
                     ng-click="selectCardClass(id)"
                     style="margin-bottom: -6px">
            </label>

        </div>

        <div class="cards">
            <div class="card-preview" ng-repeat="card in cards" ng-click="showDetails(card)">
                <img ng-src="http://media-hearth.cursecdn.com/avatars/{{card.pic}}.png">
            </div>
        </div>
    </div>

    <div ng-controller="CardController" class="card-panel">
        <img ng-if="card.pic" class="card-image" ng-src="http://media-hearth.cursecdn.com/avatars/{{card.pic}}.png">
        <label class="line">ID: {{card.id}}</label>
        <label class="line">Picture: <input ng-model="card.url" ng-change="extractCardPic()"></label>
        <label class="line">Name: <input ng-model="card.name"></label>
        <label class="line">Cost: <input ng-model="card.cost" type="number"></label>

        <label class="line">
            <img ng-repeat="(classId, clas) in classes"
                 ng-class="'class-icon' + (card.clas === classId ? ' selected' : '')"
                 ng-src="/images/{{clas}}.png"
                 ng-click="selectClass(classId)">
        </label>

        <label class="line">Type:
            <select ng-model="card.type" ng-options="type.id as type.name for type in cardTypes" convert-to-number></select>
        </label>
        <label class="line">Flags:
            <input ng-model="card.flags">
        </label>

        <label>Targets: <input ng-model="card.targetsType" placeholder="not-need"></label>

        <div class="object" ng-show="card.type === 1 || card.type === 3" style="margin-top:44px;">
            Object:

            <label class="line">Attack:
                <input ng-model="card.object.attack" type="number" size="4">
            </label>

            <label class="line" ng-show="card.type === 1">Max Hp:
                <input ng-model="card.object.maxHp" type="number" size="4">
            </label>

            <label class="line" ng-show="card.type === 3">Durability:
                <input ng-model="card.object.durability" type="number" size="4">
            </label>

            <label class="line">Flags:
                <input ng-model="card.object.flags">
            </label>

            <div style="margin-top:5px;">Events:
                <div ng-repeat="(eventTypeName, events) in card.object.events" class="event">
                    {{eventTypeName}}:
                    <button ng-click="addField(eventTypeName)">+</button>
                    <label ng-repeat="(index, event) in events" class="line">
                        <input ng-model="event.event" size="20" ng-show="eventTypeName === 'custom'" placeholder="event">
                        <input ng-model="event.command" size="30" placeholder="acts">
                        <input ng-model="event.targetsType" size="30" placeholder="{{eventTypeName === 'battlecry' ? 'inherit' : 'targets'}}">
                        <button ng-click="removeField(eventTypeName, index)">x</button>
                    </label>
                </div>
            </div>

        </div>

        <div class="spell" ng-show="card.type === 2">
            Spell: <button ng-click="addSpellAct()">Add</button>
            <label class="line" ng-repeat="(id, act) in card.spell.acts">
                <input ng-model="act.command" size="30" placeholder="acts">
                <input ng-model="act.targetsType" size="30" placeholder="inherit">
                <button ng-click="removeSpellAct(id)">x</button>
            </label>

        </div>

        <div class="controls">
            <button ng-click="saveCard()">Save</button>
            <button ng-click="newCard()">New</button>
        </div>

    </div>
</body>
</html>
